h3{
    color: black;;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
/*  */
.test {
    color: black;
}
/*  */
.div-1 {
    background-color: darkkhaki;
    font-size: 45px;
    font-weight: bold;
}
.div-1 li {
    font-size: 25px;
    font-weight: normal;
}
.div-1 .div-1-paragraph {
    background-color: antiquewhite
}